@{
	ViewData["Title"] = "List of students";
}
@model IEnumerable<Student>
@using MagistriMVC.Controllers
<h4>List of students</h4>
<table>
	<tr>
		<th>
			ID
		</th>
		<th>
			First name
		</th>
		<th>
			Last name
		</th>
		<th>
			Date of Birth
		</th>
		<th>

		</th>
	</tr>
	@foreach (var student in Model) {
		<tr>
			<td>
				@student.Id
			</td>
			<td>
				@student.FirstName
			</td>
			<td>
				@student.LastName
			</td>
			<td>
				@student.DateOfBirth.ToShortDateString()
			</td>
			<td>
				<a class="btn btn-outline-secondary btn-sm" asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id">Edit</a>
				<a class="btn btn-secondary btn-sm" asp-controller="Students" asp-action="Delete" asp-route-id="@student.Id">Delete</a>
			</td>
		</tr>
	}
</table>
<hr />
<div>
	<a class="btn btn-sm btn-success" asp-controller="Students" asp-action="Create">Create a new student</a>
</div>
<hr />
@if (User.IsInRole("Admin") || User.IsInRole("Director") || User.IsInRole("Teacher")) {
	<h4>Upload students list [.XML files]</h4>
	<form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Upload">
		<div class="form-group">
			<input type="file" name="file" />
			@*pozor, na name je zavisle jmeno parametru, cili souboru predavaneho do controlleru. Pokud se parametr jmenuje file, musi i name inputu byt file*@
			<input type="submit" value="Upload" />
		</div>
		<br />
		<div class="form-group">
		</div>
	</form>
}

