@{
	ViewData["Title"] = "List of grades";
}
@model IEnumerable<Grade>
@using MagistriMVC.Controllers
<h4>List of grades</h4>
<style>

</style>

<table>
	<tr>
		<th>
			ID
		</th>
		<th style="width:150px;">
			Student
		</th>
		<th style="width:120px;">
			Subject
		</th>
		<th style="width:200px;">
			What
		</th>
		<th style="width:50px;">
			Mark
		</th>
		<th style="width:100px;">
			Date
		</th>
		@if (User.IsInRole("Admin") || User.IsInRole("Director") || User.IsInRole("Teacher")) {
			<th>

			</th>
		}
	</tr>
	@foreach (var grade in Model) {
		<tr>
			<td>
				@grade.Id
			</td>
			<td>
				@grade.Student.FirstName @grade.Student.LastName
			</td>
			<td>
				@grade.Subject.Name
			</td>
			<td>
				@grade.What
			</td>
			<td>
				@grade.Mark
			</td>
			<td>
				@grade.Date.ToShortDateString()
			</td>
			<td>
				@if (User.IsInRole("Admin") || User.IsInRole("Director") || User.IsInRole("Teacher")) {
					<a class="btn btn-sm btn-outline-secondary btn-sm" asp-controller="Grades" asp-action="Edit" asp-route-id="@grade.Id">Edit</a>
					<a class="btn btn-sm btn-secondary btn-sm" asp-controller="Grades" asp-action="Delete" asp-route-id="@grade.Id">Delete</a>
				}
			</td>
		</tr>
	}
</table>
<hr />
@if (User.IsInRole("Admin") || User.IsInRole("Director") || User.IsInRole("Teacher")) {
	<div>
		<a class="btn btn-sm btn-success" asp-controller="Grades" asp-action="Create">Create a new grade</a>
	</div>
}
